@font-face {
    font-family: poppins;
    src: url('../assets/poppins.woff2');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    --white: #ffffff;
    --black: #000000;
}
body{
    background-color: var(--black);
    padding: 20px;
}
/* -----------------------------Desktop View Styles------------------------------------- */
.desktop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto, auto, auto, auto, 200px;
    align-content: space-around;
}

#micAlert {
    display: none;
    background-color: var(--white);
    color: var(--black);
    padding: 7px;
    border-radius: 5px;
    font-weight:400;
    font-family: poppins;
}
#dateTimeDisplay{
    grid-column: 1 / span 1
}
#timeDisplay{
    width: 200px;
    font-family: poppins;
    font-weight: 200;
    font-size: 50px;
    color: var(--white);
}
#dateDisplay{
    width: 200px;
    font-family: poppins;
    font-weight: 200;
    font-size: 16px;
    color: var(--white);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--white);
    position: relative;
    top:-20%
}
#menuIcons{
    grid-column: 2 /span 1;
    margin-top: 10%;
    margin-left: 52%;
}
#menuIcons>nav>ul>li{ 
    display: inline-block;
    margin: 10px;
}
#weatherDisplay{
    grid-row: auto;
    grid-column: 1 / span 1;
    margin-top: -10%;
}
.loadingWeather{
    margin-left: 12%;
    color: var(--white);
    font-family: poppins;
    font-weight: 100;
    font-size: 10px;
}
.wText{
    margin-top: -1%;
    margin-left: -6%;
}

#temp{
    width: 50px;
    font-family: poppins;
    font-weight: 200;
    color: var(--white);
    margin-top: -7%;
    margin-left: 10%;
}

#tempDescription{
    font-family: poppins;
    font-weight: 200;
    color: var(--white);
    margin-top: -2%;
    margin-left: 1%;
}
#calenderDisplay{
    grid-column: 1 / span 1;
    grid-row: auto;
}
#calenderTitle{
    width: 200px;
    margin-top: 5%;
    font-family: poppins;
    font-weight: 200;
    color: var(--white);
    border-bottom: 1px solid var(--white)
}
#newsDisplay{
    grid-column: 1 / span 1;
    grid-row: auto;
}
#newsTitle{
    width: 200px;
    margin-top: 5%;
    font-family: poppins;
    font-weight: 200;
    color: var(--white);
    border-bottom: 1px solid var(--white)
}
#news {
    color: var(--white);
    font-family: poppins;
}
#test{
    text-align: center;
    margin-top: 30%;
    color: var(--white);
    font-family: poppins;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 0.19em;
}
#testb{
    position: relative;
    top: -30px;
    text-align: center;
    color: var(--white);
    font-family: poppins;
    letter-spacing: 0.09em
}
/* ------------------------------------ Menu -------------------------- */
#menu{
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 999;
    width: 270px;
    height: 100%;
    background-color: rgba(19, 13, 13, 0.795);
    /* opacity: 0.9; */
    -webkit-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
    transition: transform 1s ease-in-out;
}
#menuTopBtns{
    /* padding: 5px; */
    border-bottom: 1px solid var(--white)
}
#menuTopBtns>ul>li{
    display: inline;
    margin-right: 15px;
}
.menuTopIcons{
    width: 16%;
    height: 16%;
}
#menuTopBtns>ul>li{
    list-style: none;
}
#menuAppsList>ul>li{
    list-style: none;
    margin-top: 20px;
}
#menuAppsList>ul>li>a{
    text-decoration: none;
    color: var(--white);
    font-family: poppins;
    font-weight: 100;
    font-size: 20px
}
/* ------------------------------------ Footer------------------------------------------ */
#foot{
    grid-column: 1/-1;
    grid-row: 200px;
    text-align: center;
    color: var(--white);
    font-family: poppins;
    font-size: 15px;
    font-weight: 200;
    bottom: 0px;

}