<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Browser</title>
    <link rel="stylesheet" href="./styles/browser.css">
    <!-- <link rel="stylesheet" href="./styles/home.css"> -->
    
</head>
<body>
    <!-- TAB LINKS  -->
    <section id="browserTabs">
        <button class="tabLinks activeTab">Enyo Browser</button>
        <button class="tabLinks" id="createNewTabIcon"> + </button>
    </section>

    <!-- TAB CONTENT -->
    <section id="tabContent">
        <!-- these are the browser controls -->
        <span class="browserIcons" id="goBack">&#8592;</span>
        <span class="browserIcons" id="goForward">&#8594;</span>
        <!-- <span class="browserIcons" id="goHome"></span> -->
        <input id="urlInput" type="text" placeholder="type url here">
        <span class="broswerIcons" id="goToUrl">go</span>

        <!-- the iframe is used to renderer the web pages -->
        
    </section>



    <script>
        require('../renderers/browserRenderer.js')
        require('../controllers/browserController.js')
    </script>
</body>
</html>