<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enyo</title>
    <link rel="stylesheet" href="./assets/home.css">
</head>
<body>
    

    <section id="desktop">
        <h1 id="test">Hi, Lord Cheta</h1>
        <p id="testb">you look sexy today ;)</p>
        
    </section>
    

    <script src="../views/js/desktop.js"></script>
</body>
</html>