<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Player</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/musicPlayer.css">
</head>
<body>
    <div id="musicMenu">
        <img src="./assets/musicMenu.svg" id="musicMenuIcon" alt="music menu icon">
    </div>

    <div id="albumArt">
        <img id="albumArtImage" src="../devAssets/songart.jpg" alt="album art">
        <p id="artistName">barlow girl</p>
        <p id="songTitle">he walked away</p>

        <audio controls>
            <source src="../devAssets/barlow-girl.mp3">
        </audio>
    </div>


    <script type="module">
        require('../renderers/musicPlayerRenderer.js')
        require('../controllers/musicPlayerController.js')
    </script>
</body>
</html>