#musicMenuIcon{
    height: 10%;
    width: 10%;
}
#albumArt{
    text-align: center;
}
#albumArtImage{
    width: 150px;
    height: 150px;
}
#artistName{
    font-family: sublime;
    color: #ffffff;
    margin-top: 5%;
    font-size: 5vw;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 0.17em;
}
#songTitle{
    font-family: sublime;
    color: #ffffff;
    margin-top: 5%;
    font-size: 3vw;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 0.12
}
audio{
    background: transparent;
}
.musicIcons{
    color: black;
    background: #eeecec;
    border-radius: 50px;
    padding: 12px;
    font-weight: bolder;
}
#customControl{
    margin-top: -7%;
    margin-left: 75%;
}