<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calendar</title>

  <link rel="stylesheet" href="./styles/calendar.css">
  <link rel="stylesheet" href="./calendar/packages/core/main.css">
  <link rel="stylesheet" href="./calendar/packages/daygrid/main.css">
  <link rel="stylesheet" href="./calendar/packages/timegrid/main.css"> 

  <script src="./calendar/packages/core/main.js"></script>
  <script src="./calendar/packages/daygrid/main.js"></script>
  <script src="./calendar/packages/timegrid/main.js"></script>
  <script src="./calendar/packages/interaction/main.js"></script>

</head>
<body>
  <form id="alert" onsubmit="return false">
    <p id="info">You are about to create an event for <span id="date"></span></p>
    <input type="text" name="" id="addTodoText" placeholder="type event" required>
    <input type="submit" id="submit" value="Ok">
    <input type="submit" id="close" value="Cancel">
  </form>
  <div id="calendar"></div>

  <script>
    require('../controllers/calendarController.js')
    require('../renderers/calendarRenderer.js')
  </script>
</body>
</html>