<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enyo</title>
    <link rel="stylesheet" href="./styles/home.css">
</head>
<body>
    <section class="desktop">
        <!-- Date And Time Display -->
        <div id="dateTimeDisplay">
            <div id="innerDateTime">
                <p id="timeDisplay"></p>
                <p id="dateDisplay"></p>
            </div>
        </div>
        <!-- End Date And Time Display -->

        <!-- Menu Icon, Mic & Search Icon -->
        <div id="menuIcons">
            <nav>
                <ul>
                    <li><img id="menuBtn" src="./assets/menu.svg" alt="menu"></li>
                </ul>
            </nav>
        </div>
        <!-- End Menu Icon, Mic & Search Icon -->

        <!-- Weather Display -->
        <div id="weatherDisplay">
            <div id="innerWeatherDisplay">
                <div class="loadingWeather">
                    <img class="wSpin" src="./assets/load-icon.svg" alt="loading-weather">
                    <p class="wText">..loading weather</p>
                </div>
            
                <span id="tempImage"></span><p id="temp"></p>
                <p id="tempDescription"></p>
            </div>
            
        </div>
        <!-- End Weather Display -->

        <!-- Calender/TODO Display -->
        <div id="calenderDisplay">
            <h1 id="calenderTitle">TODOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="openModal"><img src="./assets/plus.svg" alt=""></span></h1>
            <div id="top5Todos">

            </div>

            <div id="todoModal" class="todoModal">
                <div class="todoModalContent">
                    <header id="todoHeader">
                        <span>TODOS</span>
                        <span id="todoClose">&times;</span>
                    </header>
                    
                    <div id="todos">
                    </div>

                    <form id="addTodo" onsubmit="return false">
                        <input type="text" name="" id="addTodoText" placeholder="type todo" required>
                        <input type="date" name="" id="addTodoDate" placeholder="select due date" required>
                        <input type="submit" id="addTodoBtn" value="Add Todo">
                    </form>
                </div>
            </div>
        </div>
        <!-- End Calender/TODO Display -->


        <!-- News Display -->
        <div id="newsDisplay">
            <h1 id="newsTitle">TRENDING</h1>
            <div class="loadingWeather">
                <img class="wSpin" src="./assets/load-icon.svg" alt="loading-weather">
                <p class="wText">..fetching headlines</p>
            </div>
            <div id="news">
                
            </div>
        </div>
        <!-- End News Display -->

        <!-- <h1 id="test">Hi, Lord Cheta</h1> -->
        <!-- <p id="testb">you look sexy today ;)</p> -->
        
    </section>

    <section id="menu">
        <nav id="menuTopBtns">
            <ul>
                <li><img class="menuTopIcons" id="closeMenuBtn" src="./assets/close.svg" alt=""></li>
                <li><img class="menuTopIcons" id="infoMenuBtn" src="./assets/info.svg" alt=""></li>
            </ul>
        </nav>
        <nav id="menuAppsList">
            <ul>
                <li><a id="musicApp" href="#">Music Player</a></li>
                <li><a id="galleryApp" href="#">Gallery</a></li>
                <li><a id="browserApp" href="#">Browser</a></li>
                <li><a id="videoApp" href="#">Video Player</a></li>
                <li><a id="calendarApp" href="#">Calendar</a></li>
            </ul>
        </nav>

    </section>
    

    <footer>
        <p id="foot">ENYO</p>
    </footer>
    <script type="module">
        require('../renderers/renderer.js');
        require('../controllers/desktopController.js')
        require('../controllers/menuExtrasController.js')
    </script>
</body>
</html>