<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Player</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/musicPlayer.css">
</head>
<body>
    <!-- <div id="musicMenu">
        <img src="./assets/musicMenu.svg" id="musicMenuIcon" alt="music menu icon">
    </div> -->

    <div id="albumArt">
        <div id="songDetails">    
            <!-- Song Details are auot injected here -->
        </div>
        <audio controls>
            <!-- Audio files are auoto injected here -->
        </audio> 
        <div id="customControl">
            <span id="previousSong" class="musicIcons">&#8592;</span>
            <span id="nextSong" class="musicIcons">&#8594;</span> 
        </div>  
          
    </div>

    <script type="module">
        require('../renderers/musicPlayerRenderer.js')
        require('../controllers/musicPlayerController.js')
    </script>
</body>
</html>