<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ENYO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./styles/splash.css">
</head>
<body>
    <section id="splashScreen">
        <h1 id="caption">ENYO</h1>
        <p id="smallCaption">SmartMirror OS</p>
        <img id="loadIcon" src="./assets/loadIco.svg" alt="load-icon">
        <!-- The App Version is automatically Injected by Electron -->
        <!-- <p id="version">version <span id="versionSpan"></span></p> -->
    </section>



    <script>
        const { ipcRenderer } = require('electron')

        ipcRenderer.on('set-version', (event, arg) => {
        const versionSpan = document.getElementById('versionSpan')
        versionSpan.innerHTML = arg
        })

        ipcRenderer.send('get-version')

        setTimeout(() => {
            ipcRenderer.send('app-init')
        }, 2000)
    </script>
</body>
</html>