@font-face {
    font-family: poppins;
    src: url('./poppins.woff2');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    --white: #ffffff;
    --black: #000000;
}
body{
    background-color: var(--black);
}
/* -----------------------------Desktop View Styles------------------------------------- */
#desktop{
    display: block;
    /* grid-template-columns: 1fr 1fr */
}
#test{
    text-align: center;
    margin-top: 30%;
    color: var(--white);
    font-family: poppins;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 0.19em;
}
#testb{
    position: relative;
    top: -30px;
    text-align: center;
    color: var(--white);
    font-family: poppins;
    letter-spacing: 0.09em
}